


/*header*/

.center-image{
    background-size: cover;
    background-position: center;

}

.index-image{
    height: 400px;
    background-image: url('../img/index-image.jpg');
    margin-bottom: 30px;
    position: relative;
}

#titulo{
    text-align: center;
    padding-right:240px;
    margin-top: 60px;
    color: aliceblue;
        
}


#link-container{

text-align: center;
padding-left:350px;
margin-top: auto;
}

#logo{
   
    width: 80px;
    margin-right: 300px;
    margin-top: auto;
   
    
}
 


/*navbar*/

#navbar{
    padding:10px;
    margin: 10px auto; 
}

#navbar a{
       width: 70px;
       text-decoration: none;
       color: white;
           
      }



/*cadastro*/

#form-container{
    text-align: center;
    background-color: #29abe2;
    height: 450px;
    margin-top: -30px;
    color: aliceblue;
    padding-top: 15px;
    
   
    
      
}
#form-container .form-control{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background-color: #29abe2;
    
}

#form-container input[type="button"]{
    background-color: #012d51;
    color: #29abe2;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
}

#formulario{
    background-color: #29abe2;
    width: 500px;
    margin: auto;
    color: rgb(251, 250, 250);
    
}
#myDate,#myNome,#myTel,#myEmail{
    color: rgb(251, 250, 250);
    
}


/*lista de cadastro*/



#lista{
    background-color: rgb(251, 250, 250);
    height: 400px;
    margin-top: 33px;
    padding:50px;
    text-align:center;
                      
}

#myTable{
    color: #012d51;
}

#titulocadastro{
    color: #29abe2;
}

table, td {
    border: 1px solid black;
  }


/*footer*/

footer{
    background-image: url('../img/rodape-desktop.jpg');
    color: white;
    width: 101%;
    
}



